<h3 class="page-header col-md-12">预约技师</h3>

<%
series_map = Series.all.to_a.
  group_by(&:brand_id).
  map {|key, value|[key, value.map {|obj| [ obj.name, obj.id ]}]}.
  to_h
%>

<%= bootstrap_simple_form_for([ :merchants, @order ]) do |f| %>
  <div class="col-md-7">
    <%= f.error_messages %>

    <h5 class="text-muted">需求信息</h5>

    <%= f.input :address %>
    <%= f.input :appointment do %>
      <div class="datetime-input-group">
        <%= f.input_field :appointment, class: "form-control" %>
      </div>
    <% end %>

    <%= f.association :skill %>

    <%= f.input :brand_id, collection: Brand.all %>
    <%= f.input :series_id, collection: series_map[@order.brand_id] || [] %>

    <%= f.input :quoted_price %>
    <%= f.input :remark, input_html: { rows: 4 } %>

    <h5 class="text-muted">联系人信息</h5>

    <%= f.input :contact_nickname %>
    <%= f.input :contact_mobile %>
  </div>

  <div class="col-md-12">
    <h5 class="text-muted">指派技师 <a href="#" id="clean_mechanic">取消选中技师</a></h5>

    <%= index_for [ :merchants, current_merchant.store.followed_mechanics ], class: "table table-hover data-tables" do |i| %>
      <%= i.attribute :check do |mechanic| %>
        <%= f.radio_button :mechanic_id, mechanic.id %>
      <% end %>
      <%= i.attribute :user_nickname %>
      <%= i.attribute :province, with: :name, if_raise: nil %>
      <%= i.attribute :city, with: :name, if_raise: nil %>
      <%= i.attribute :district, with: :name, if_raise: nil %>
      <%= i.attribute :orders_count %>
      <%= i.attribute :professionality_average %>
      <%= i.attribute :timeliness_average %>
    <% end %>

    <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
  </div>
<% end %>

<script type="text/javascript">
  var seriesMap = <%= raw series_map.to_json %>

  var brand = order_brand_id;
  var series = order_series_id;
  var brandCallback = function() {
    removeOptions(series.querySelectorAll("option"));
    appendOptions(series, seriesMap[brand.value]);
  };

  brand.addEventListener("change", brandCallback);

  var cleanMechanic = clean_mechanic;
  var cleanMechanicCallback = function(event) {
    event.preventDefault();
    var mechanics = document.querySelectorAll("[name=order\\[mechanic_id\\]]");
    for (var i = mechanics.length - 1; i >= 0; i--) {
      mechanics[i].checked = false
    }
  }
  cleanMechanic.addEventListener("click", cleanMechanicCallback);

  var getLocationCallback = function(res) {
    url = "http://apis.map.qq.com/ws/geocoder/v1";
    url += "?location=" + encodeURI(res.latitude + "," + res.longitude);
    url += "&coord_type=1"
    url += "&output=jsonp";
    url += "&key=<%= LBS::Key %>";

    jsonp(url, function(res) {
      address = res["result"]["formatted_addresses"]["recommend"];
      order_lbs_id.value = res["result"]["ad_info"]["adcode"];
      if (order_address.value !== address && confirm("使用定位地址：" + address)) {
        order_address.value = address;
      }
    });
  };

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      getLocationCallback(position.coords);
    });
  }
</script>
