<h3 class="page-header col-md-12">预约技师</h3>

<%
series_map = Series.all.to_a.
  group_by(&:brand_id).
  map {|key, value|[key, value.map {|obj| [ obj.name, obj.id ]}]}.
  to_h
%>

<%= bootstrap_simple_form_for([ :merchants, @order ]) do |f| %>
  <div class="col-md-7">
    <%= f.error_messages %>

    <h5 class="text-muted">需求信息</h5>

    <%= f.input :address %>
    <%= f.input :appointment do %>
      <div class="datetime-input-group">
        <%= f.input_field :appointment, class: "form-control" %>
      </div>
    <% end %>

    <%= f.association :skill %>

    <%= f.input :brand_id, collection: Brand.all %>
    <%= f.input :series_id, collection: series_map[@order.brand_id] || [] %>

    <%= f.input :quoted_price %>
    <%= f.input :remark, input_html: { rows: 4 } %>

    <h5 class="text-muted">联系人信息</h5>

    <%= f.input :contact_nickname %>
    <%= f.input :contact_mobile %>
  </div>

  <div class="col-md-12">
    <h5 class="text-muted">指派技师 <a href="#" id="clean_mechanic">取消选中技师</a></h5>

    <%= index_for [ :merchants, current_merchant.store.followed_mechanics ], class: "table table-hover data-tables" do |i| %>
      <%= i.attribute :check do |mechanic| %>
        <%= f.radio_button :mechanic_id, mechanic.id %>
      <% end %>
      <%= i.attribute :user_nickname %>
      <%= i.attribute :province, with: :name, if_raise: nil %>
      <%= i.attribute :city, with: :name, if_raise: nil %>
      <%= i.attribute :district, with: :name, if_raise: nil %>
      <%= i.attribute :orders_count %>
      <%= i.attribute :professionality_average %>
      <%= i.attribute :timeliness_average %>
    <% end %>

    <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var seriesMap = <%= raw series_map.to_json %>

    var $brand = $("#order_brand_id");
    var $series = $("#order_series_id");
    $brand.change(function() {
      $series.removeOptions();
      $series.appendOptions(seriesMap[$brand.val()]);
    });

    var $cleanMechanic = $("#clean_mechanic");
    $cleanMechanic.click(function(event) {
      event.preventDefault();
      $("input[type=radio][name=order\\[mechanic_id\\]]").attr("checked", false);
    });
  })
</script>
