<h3 class="page-header">预约技师</h3>

<%
  series_map = types_option_pairs Series, :brand_id
%>

<%= bootstrap_simple_form_for([ :merchants, @order ]) do |f| %>
  <div class="col-md-7">
    <%= f.error_messages %>

    <h5 class="text-muted">需求信息</h5>

    <%= f.input :address %>
    <%= f.input :appointment do %>
      <div class="datetime-input-group">
        <%= f.input_field :appointment, class: "form-control" %>
      </div>
    <% end %>

    <%= f.input :skill_cd, collection: Skill.all, input_html: { class: "select2" } %>

    <%= f.input :brand_cd, collection: Brand.all, input_html: { class: "select2" } %>
    <%= f.input :series_cd, collection: series_map[@order.brand_cd] || [], input_html: { class: "select2" } %>

    <%= f.input :quoted_price %>
    <%= f.input :remark, input_html: { rows: 4 } %>

    <h5 class="text-muted">联系人信息</h5>

    <%= f.input :contact_nickname %>
    <%= f.input :contact_mobile %>
  </div>

  <div class="col-md-12">
    <h5 class="text-muted">指派技师 <a href="#" id="clean_mechanic">取消选中技师</a></h5>

    <label class="mr20" id="mechanics_skills">类型： <%= select_tag "skills", "<option value=\"\"></option>".html_safe + options_from_collection_for_select(Skill.all, :name, :name), class: "form-control", id: "mechanics_skills_select" %></label>

    <% @followed_mechanic_ids = current_merchant.store.followed_mechanic_ids %>
    <% @mechanics = Mechanic.includes(:user, :skills).where(users: { role_cd: User.roles[:mechanic] }) %>
    <%= index_for [ :merchants, @mechanics ], class: "table table-hover" do |i| %>
      <%= i.attribute :_check do |mechanic| %>
        <%= f.radio_button :mechanic_id, mechanic.id %>
      <% end %>

      <%= i.attribute :skills do |mechanic| %>
        <%= mechanic.skills.join("、") %>
      <% end %>

      <%= i.attribute :user_nickname %>
      <%= i.attribute :user_mobile %>

      <%= i.attribute :province %>
      <%= i.attribute :city %>
      <%= i.attribute :district %>

      <%= i.attribute :available_orders_count %>
      <%= i.attribute :revoke_orders_count %>
      <%= i.attribute :professionality_average %>
      <%= i.attribute :timeliness_average %>

      <%= i.actions :show do |a| %>
        <% if @followed_mechanic_ids.include? i.object.id %>
          <%= a.action_link :unfollow, method: :post, confirm: "你确定要取消关注？" %>
        <% else %>
          <%= a.action_link :follow, method: :post %>
        <% end %>
      <% end %>

    <% end %>

    <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var dataTable = $("#mechanics").DataTable({
      order: [], // Do not sort by default
      pagingType: 'full_numbers',
      language: {
        lengthMenu: "每页显示 _MENU_ 条记录",
        info: "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
        infoEmpty: "没有数据",
        infoFiltered: "(从 _MAX_ 条数据中检索)",
        zeroRecords: "没有检索到数据",
        search: "搜索：",
        paginate: {
          first: "首页",
          previous: "前一页",
          next: "后一页",
          last: "尾页"
        }
      }
    });

    var skillColumn = dataTable.column(1);
    skillColumn.visible(false);

    $("#mechanics_skills").prependTo($("#mechanics_filter"));
    $("#mechanics_skills_select").change(function() {
      skillColumn.search($(this).val());
      dataTable.draw();
    });


    var seriesMap = <%= raw series_map.to_json %>;

    var $brand = $("#order_brand_cd");
    var $series = $("#order_series_cd");
    $brand.change(function() {
      $series.removeOptions();
      $series.appendOptions(seriesMap[$brand.val()]);
    });

    var $cleanMechanic = $("#clean_mechanic");
    $cleanMechanic.click(function(event) {
      event.preventDefault();
      $("input[type=radio][name=order\\[mechanic_id\\]]").attr("checked", false);
    });
  });
</script>
