<ul class="nav nav-tabs page-header">
  <li><h3><%= @order.assigned? ? "改派技师" : "指派技师" %></h3></li>
  <li class="active"><a href="#table_tab" data-toggle="tab">列表</a></li>
  <li><a href="#map_tab" data-toggle="tab">地图</a></li>
</ul>

<%= bootstrap_simple_form_for([ :merchants, @order ], url: pick_merchants_order_path(@order)) do |f| %>
  <div class="row">
    <%= render partial: "shared/orders/pick_list", locals: { f: f } %>

    <% if @order.assigned? %>
      <div class="col-md-7">
        <%= f.input :remark, hint: "备注对所有人可见", input_html: { rows: 4 } %>
      </div>
    <% end %>

    <div class="col-md-12">
      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    </div>
  </div>
<% end %>

<%= render partial: "shared/orders/pick_script" %>
