<h3 class="page-header">
  订单详情 #<%= @order.id %>
  <small>
    <% if @order.canceled? %>
      <%= te @order, :cancel %>
    <% elsif @order.refunded? %>
      <%= te @order, :refund %>
    <% else %>
      <%= te @order, :state %>
    <% end %>
  </small>
</h3>

<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <%= show_for @order, class: "dl-horizontal" do |i| %>
      <%= i.attribute :merchant_nickname %>
      <%= i.attribute :merchant_mobile %>
      <%= i.attribute :contact_nickname %>
      <%= i.attribute :contact_mobile %>
      <%= i.attribute :state do |order| %>
        <% if order.canceled? %>
          <%= te order, :cancel %>
        <% elsif order.refunded? %>
          <%= te order, :refund %>
        <% else %>
          <%= te order, :state %>
        <% end %>
      <% end %>

      <%= i.attribute :address %>
      <%= i.attribute :appointment, format: :long %>
      <%= i.attribute :skill %>
      <%= i.attribute :brand %>
      <%= i.attribute :series %>
      <%= i.attribute :price %>
      <%= i.attribute :offline? %>
      <%= i.attribute :remark %>
      <%= i.attribute :merchant_remark %>
    <% end %>
  </div>
</div>

<% if @order.assigned? %>

  <div class="pull-right">
    <%= link_to "修改商户备注", remark_merchants_order_path(@order), class: "btn btn-primary" %>
  </div>

  <h3 class="page-header">技师信息</h3>

  <div class="row">
    <div class="col-sm-3 text-right">
      <%= image_tag(@order.mechanic.user.avatar.url(:thumb)) %>
    </div>

    <div class="col-sm-9">
      <%= show_for @order.mechanic, class: "dl-horizontal" do |i| %>
        <%= i.attribute :user_nickname %>
        <%= i.attribute :user_mobile %>
        <%= i.attribute :user_address %>
        <%= i.attribute :description %>
        <%= i.attribute :available_orders_count %>
        <%= i.attribute :professionality_average %>
        <%= i.attribute :timeliness_average %>
      <% end %>
    </div>
  </div>
<% end %>

<% case @order.state %>
<% when :pending %>
  <div class="pull-right">
    <%= link_to "指派技师", pick_merchants_order_path(@order), class: "btn btn-primary" %>
  </div>
<% when :paying %>
  <div class="pull-right">
    <%= link_to "微信支付", pay_merchants_orders_path(@order, format: :weixin), class: "btn btn-primary" %>
    <%= link_to "支付宝支付", pay_merchants_orders_path(@order, format: :alipay), class: "btn btn-primary" %>
    <%= link_to "延后付款", pend_merchants_order_path(@order), method: :post, class: "btn btn-danger" %>
    <%= link_to "取消订单", cancel_merchants_order_path(@order), method: :post, class: "btn btn-danger" %>
  </div>
<% when :pended %>
  <div class="pull-right">
    <%= link_to "微信支付", pay_merchants_orders_path(@order, format: :weixin), class: "btn btn-primary" %>
    <%= link_to "支付宝支付", pay_merchants_orders_path(@order, format: :alipay), class: "btn btn-primary" %>
    <%= link_to "取消订单", cancel_merchants_order_path(@order), method: :post, class: "btn btn-danger" %>
  </div>
<% when :paid %>
  <div class="pull-right">
    <% unless @order.hosting? %>
      <%= link_to "改派技师", pick_merchants_order_path(@order), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "申请退款", refund_merchants_order_path(@order), class: "btn btn-danger", data: {confirm: "您确定要申请退款？" } %>
  </div>
<% when :working %>
  <div class="pull-right">
    <% unless @order.hosting? %>
      <%= link_to "改派技师", pick_merchants_order_path(@order), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "申请撤单", revoke_merchants_order_path(@order), class: "btn btn-danger" %>
  </div>
<% when :confirming %>
  <% unless @order.hosting? %>
    <h3 class="page-header">确认完工 <small>点击施工照片查看原图</small></h3>
    <% if @order.mechanic_attach_1 || @order.mechanic_attach_2 %>
      <div class="images">
        <%= link_to @order.mechanic_attach_1.url(:original) do %>
          <%= image_tag @order.mechanic_attach_1.url(:thumb), class: "img-rounded" %>
        <% end if @order.mechanic_attach_1.present? %>
        <%= link_to @order.mechanic_attach_2.url(:original) do %>
          <%= image_tag @order.mechanic_attach_2.url(:thumb), class: "img-rounded" %>
        <% end if @order.mechanic_attach_2.present? %>
      </div>
    <% end %>
  <% end %>
  <div class="pull-right">
    <% unless @order.hosting? %>
      <%= link_to "改派技师", pick_merchants_order_path(@order), class: "btn btn-primary" %>
      <%= link_to "确认完工", confirm_merchants_order_path(@order), method: :post, class: "btn btn-primary" %>
      <%= link_to "申请返工", rework_merchants_order_path(@order), method: :post, class: "btn btn-primary" %>
    <% end %>
    <%= link_to "申请撤单", revoke_merchants_order_path(@order), class: "btn btn-danger" %>
  </div>
<% when :finished %>
  <div class="pull-right">
    <% if current_store.follow? @order.mechanic %>
      <%= link_to "取消收藏技师", unfollow_merchants_mechanic_path(@order.mechanic), method: :post, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "收藏技师", follow_merchants_mechanic_path(@order.mechanic), method: :post, class: "btn btn-primary" %>
    <% end %>
    <% unless @order.hosting? %>
      <%= link_to "点评技师", review_merchants_order_path(@order), class: "btn btn-primary" %>
    <% end %>
  </div>
<% when :reviewed %>
  <div class="pull-right">
    <% if current_store.follow? @order.mechanic %>
      <%= link_to "取消收藏技师", unfollow_merchants_mechanic_path(@order.mechanic), method: :post, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "收藏技师", follow_merchants_mechanic_path(@order.mechanic), method: :post, class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
