<h3 class="page-header">堂口管理</h3>

<div class="col-md-2 col-xs-4">
  <ul class="nav nav-pills nav-stacked">
    <li class="<%= "active" unless @confirmed %>"><%= link_to "申请列表", admin_user_groups_path %></li>
    <li class="<%= "active" if @confirmed %>"><%= link_to "堂口列表", confirmed_admin_user_groups_path %></li>
  </ul>
</div>

<div class="col-md-10 col-xs-8">
  <%= index_for [ :admin, @user_groups ], class: "table table-hover data-tables" do |i| %>
    <%= i.attribute :nickname %>
    <%= i.attribute :user, with: :nickname %>

    <% if @confirmed %>
      <%= i.actions :show, :destroy %>
    <% else %>
      <%= i.attribute :description %>
      <%= i.actions do |a| %>
        <%= a.action_link :show %>
        <%= a.action_link :confirm do %>
          <%= link_to t(:"index_for.actions.confirm"), confirm_admin_user_group_path(i.object), data: { method: :post, confirm: "你确定要通过这条申请？" } %>
        <% end %>
        <%= a.action_link :destroy %>
      <% end %>
    <% end %>
  <% end %>
</div>
