<h3 class="page-header">堂主管理</h3>

<div class="col-md-2 col-xs-4">
  <ul class="nav nav-pills nav-stacked">
    <li class="<%= "active" unless @confirmed %>"><%= link_to "申请列表", admin_user_groups_path %></li>
    <li class="<%= "active" if @confirmed %>"><%= link_to "堂主列表", confirmed_admin_user_groups_path %></li>
  </ul>
</div>

<div class="col-md-10 col-xs-8" id="collapseExample">
  <%= index_for @user_groups, class: "table table-hover data-tables" do |u| %>
    <%= u.attribute :nickname %>
    <%= u.attribute :user, with: :nickname %>

    <% if @confirmed %>
      <%= u.actions :admin %>
    <% else %>
      <%= u.attribute :description %>
      <%= u.actions :admin, :confirm_admin %>
    <% end %>
  <% end %>
</div>
