<h3 class="page-header">堂主详情 #<%= @user_group.id %></h3>

<%= show_for @user_group, class: "dl-horizontal" do |i| %>
  <%= i.attribute :nickname %>
  <%= i.attribute :settled_orders_count %>
  <%= i.attribute :total_commission %>
  <%= i.attribute :users_count %>
  <%= i.attribute :weixin_qr_code_url do |user_group| %>
    <%= image_tag user_group.weixin_qr_code_url %>
  <% end %>
<% end %>
