<h3 class="page-header">提现管理</h3>

<div class="col-md-2 col-xs-4">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><%= link_to "申请列表", admin_withdrawals_path %></li>
    <li><%= link_to "佣金设置", settings_admin_withdrawals_path %></li>
  </ul>
</div>

<% @withdrawals = @withdrawals.includes(:user) %>

<div class="col-md-10 col-xs-8">
  <%= index_for [ :admin, @withdrawals ], class: "table table-hover data-tables" do |i| %>
    <%= i.fields_for :user, model: User do |ii| %>
      <%= ii.attribute :nickname %>
      <%= ii.attribute :mobile %>
    <% end %>

    <%= i.attribute :amount %>

    <% if i.object.paid? %>
      <%= i.actions :show %>
    <% else %>
      <%= i.actions do |a| %>
        <%= a.action_link :show %>
        <%= a.action_link :confirm, method: :post, confirm: "你确定要通过这条申请？" %>
      <% end %>
    <% end %>
  <% end %>
</div>
