<h3 class="page-header">提现详情 #<%= @withdrawal.id %></h3>

<%= show_for @withdrawal, class: "dl-horizontal" do |i| %>
  <%= i.fields_for :user do |ii| %>
    <%= ii.attribute :nickname %>
    <%= ii.attribute :mobile %>
  <% end %>

  <%= i.attribute :amount %>
  <%= i.attribute :created_at, format: :long %>
  <%= i.attribute :paid_at, format: :long %>
<% end %>

<% if @withdrawal.pending? %>
  <div class="pull-right">
    <%= link_to "批准申请", confirm_admin_withdrawal_path(@withdrawal), class: "btn btn-primary", method: :post, confirm: "你确定要通过这条申请？" %>
    <%= link_to "拒绝申请", cancel_admin_withdrawal_path(@withdrawal), class: "btn btn-danger", method: :post, confirm: "你确定要拒绝这条申请？" %>
  </div>
<% end %>
