<h3 class="page-header">
  员工管理
  <%= link_to "添加员工", new_merchants_admin_merchant_path, class: "btn btn-primary btn-xs" %>
</h3>

<%= index_for [ :merchants, :admin, @merchants ], class: "table table-hover data-tables" do |i| %>
  <%= i.attribute :nickname %>
  <%= i.attribute :mobile %>
  <%= i.attribute :role do |merchant| %>
    <%= te merchant, :role %>
  <% end %>

  <%= i.actions do |a| %>
    <%= a.action_link :edit %>
    <% if current_merchant != i.object %>
      <% if i.object.active %>
        <%= a.action_link :inactive, url: inactive_merchants_admin_merchant_path(i.object), method: :post, confirm: "你确定要锁定这个账户？" %>
      <% else %>
        <%= a.action_link :active, url: active_merchants_admin_merchant_path(i.object), method: :post, confirm: "你确定要激活这个账户？" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
