<h3 class="page-header">
  员工管理
  <small><%= link_to "添加员工", new_merchants_admin_merchant_path %></small>
</h3>

<%= index_for [ :merchants, :admin, @merchants ], class: "table table-hover data-tables" do |i| %>
  <%= i.attribute :nickname %>
  <%= i.attribute :mobile %>
  <%= i.attribute :role do |merchant| %>
    <%= te merchant, :role %>
  <% end %>

  <%= i.actions do |a| %>
    <%= a.action_link :edit %>
    <% if current_merchant != i.object %>
      <%= a.action_link :destroy %>
    <% end %>
  <% end %>
<% end %>
