<%= content_for :title do %>
  提现申请
<% end %>


<%= simple_form_for(@withdrawal) do |f| %>
  <%= f.error_messages %>

  <div class="content-padded margin-top-large">
    <%= f.input :amount %>
    <%= f.button :submit, "确定", class: "btn-block btn-positive" %>
  </div>
<% end %>
