<span class="alert alert-block segmented-items">
  <span class="item"><%= l Time.now, format: :short %></span>
  <span class="item"><%= @order.skill.name %></span>
  <span class="item"><%= @order.quoted_price + @bid.markup_price %></span>
  <a class="item text-right" href="">详情</a>
</span>
<ul class="table-view">
  <li class="table-view-cell media">
    <img class="media-object pull-left" src="http://placehold.it/60x60">
    <div class="media-body">
      <div class="media-block">
        <p class="pull-right">加价 <%= @bid.markup_price %> 元</p>
        <%= @bid.mechanic.user_nickname %>
      </div>
      <div class="media-block">
        <p class="pull-right">接单 <%= @bid.mechanic.orders_count %> 次</p>
        <p>专业 <%= @bid.mechanic.professionality_average %> 分 守时 <%= @bid.mechanic.timeliness_average %> 分</p>
      </div>
    </div>
  </li>
  <li class="table-view-cell">
    <a class="pull-right navigate-right" href="">查看全部评价</a>
  </li>
</ul>
<div class="content-padded">
  个人简介：<%= @bid.mechanic.description %>

  <a href="" class="btn btn-block btn-positive">选择此技师（倒数读秒）</a>
</div>
