<%= content_for :title do %>
  分堂成员
<% end %>

<ul class="table-view">
  <% @users.each do |user| %>
    <li class="table-view-cell media">
      <%= image_tag user.avatar.url(:thumb), class: "media-object pull-left" %>
      <div class="media-body">
        <div class="media-block">
          <%= user.nickname %>
        </div>
        <% if user.is_mechanic %>
          <div class="media-block">
            <p class="pull-right">接单 <%= user.mechanic.orders_count %> 次</p>
            <p>专业 <%= user.mechanic.professionality_average %> 分 守时 <%= user.mechanic.timeliness_average %> 分</p>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
