<%= content_for :title do %>
  收藏技师
<% end %>

<ul class="table-view">
  <% current_user.mechanics.each do |mechanic| %>
    <li class="table-view-cell media">
      <%= image_tag mechanic.user.avatar.url(:thumb), class: "media-object pull-left" %>
      <div class="media-body">
        <div class="media-block">
          <%= mechanic.user_nickname %>
        </div>
        <div class="media-block">
          <p class="pull-right">接单 <%= mechanic.orders_count %> 次</p>
          <p>专业 <%= mechanic.professionality_average %> 分 守时 <%= mechanic.timeliness_average %> 分</p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
