<%= content_for :title do %>
  技师评价
<% end %>

<ul class="table-view">
  <% @reviews.each do |review| %>
    <li class="table-view-cell media">
      <%= image_tag review.user.avatar.url(:thumb), class: "media-object pull-left" %>
      <div class="media-body">
        <div class="media-block">
          <%= review.user_nickname %>
        </div>
        <div class="media-block">
          <p>专业 <%= review.professionality %> 分 守时 <%= review.timeliness %> 分</p>
          <p><%= review.review %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
