<h3 class="page-header">订单管理</h3>

<%= index_for [ :admin, @orders ], class: "table table-hover data-tables" do |i| %>
  <%= i.attribute :user, with: :nickname %>
  <%= i.attribute :mechanic, with: :user_nickname, if_raise: nil %>
  <%= i.attribute :skill, with: :name %>
  <%= i.attribute :price %>

  <%= i.actions :show, :destroy %>
<% end %>
