<h3 class="page-header">订单管理</h3>

<% @orders = @orders.includes(:user, mechanic: :user) %>

<%= index_for [ :admin, @orders ], class: "table table-hover data-tables" do |i| %>
  <%= i.attribute :user_nickname %>
  <%= i.attribute :contact %>
  <%= i.attribute :skill %>
  <%= i.attribute :price %>
  <%= i.attribute :mechanic_nickname %>
  <%= i.attribute :state do |order| %>
    <% if order.canceled? %>
      <%= te order, :cancel %>
    <% elsif order.refunded? %>
      <%= te order, :refund %>
    <% else %>
      <%= te order, :state %>
    <% end %>
  <% end %>

  <%= i.actions :show %>
<% end %>
