<h3 class="page-header">
  <% if @mechanic %>
    相关订单 <small>技师 #<%= @mechanic.id %> <%= @mechanic.user_nickname %></small>
  <% elsif @merchant %>
    相关订单 <small>商家 #<%= @merchant.id %> <%= @merchant.store_nickname %></small>
  <% else %>
    订单管理
  <% end %>
</h3>

<% @orders = @orders.includes(:user, :mechanic_user) %>

<%= index_for [ :admin, @orders ], class: "table table-hover data-tables" do |i| %>
  <%= i.attribute :user_nickname %>
  <%= i.attribute :contact %>
  <%= i.attribute :skill %>
  <%= i.attribute :price %>
  <%= i.attribute :offline? %>
  <%= i.attribute :mechanic_nickname %>
  <%= i.attribute :mechanic_mobile %>
  <%= i.attribute :state do |order| %>
    <% if order.canceled? %>
      <%= te order, :cancel %>
    <% elsif order.refunded? %>
      <%= te order, :refund %>
    <% else %>
      <%= te order, :state %>
    <% end %>
  <% end %>

  <%= i.actions :show %>
<% end %>
