<%= content_for :title do %>
  我的信息
<% end %>

<%= simple_form_for(@user, url: user_path, method: :post) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :mobile_confirmed, value: true %>

  <div class="content-padded">
    <%= f.input :nickname %>
    <%= f.input :gender, collection: enum_option_pairs(User, :gender) %>
    <%= f.input :address %>

    <%= f.input :is_mechanic, as: :boolean %>

    <div id="user_mechanic" style="display: none;">
      <%= f.input :skill_ids, as: :check_boxes, collection: Skill.all %>

      <% cache do %>

        <%= f.input :province_id, collection: Province.all %>
        <%= f.input :city_id do %>
          <%= f.select :city_id do %>
            <option value=""></option>
            <% City.all.each do |city| %>
              <option value="<%= city.id %>" parent="<%= city.province_id %>"<%= " selected" if f.object.city_id == city.id %>><%= city.name %></option>
            <% end %>
          <% end %>
        <% end %>

        <%= f.input :district_id do %>
          <%= f.select :district_id do %>
            <option value=""></option>
            <% District.all.each do |district| %>
              <option value="<%= district.id %>" parent="<%= district.city_id %>"<%= " selected" if f.object.district_id == district.id %>><%= district.name %></option>
            <% end %>
          <% end %>
        <% end %>

      <% end %>

      <%= f.input :description, as: :text, input_html: { rows: 4 } %>
    </div>

    <%= f.button :submit, "确定", class: "btn-block btn-positive" %>
  </div>
<% end %>

<script type="text/javascript">
  var isMechanic = document.querySelector("#user_is_mechanic");
  var mechanic = document.querySelector("#user_mechanic");
  var isMechanicCallback = function() {
    if (isMechanic.checked) mechanic.style.display = "";
    else mechanic.style.display = "none";
  };

  isMechanic.addEventListener("change", isMechanicCallback);
  isMechanicCallback();

  <%= cache :location do %>
    var cityMap = <%= raw City.all.to_a.
      group_by(&:province_id).
      map {|key, value|[key, value.map {|obj| [ obj.id, obj.name ]}]}.
      to_h.to_json %>
    var districtMap = <%= raw District.all.to_a.
      group_by(&:city_id).
      map {|key, value|[key, value.map {|obj| [ obj.id, obj.name ]}]}.
      to_h.to_json %>
  <% end %>

  var province = document.querySelector("#user_province_id");
  var city = document.querySelector("#user_city_id");
  var district = document.querySelector("#user_district_id");
  var provinceCallback = function() {
    var cityOptions = city.querySelectorAll("option");
    var districtOptions = district.querySelectorAll("option");
    for (var i = cityOptions.length - 1; i > 0; i--) cityOptions[i].remove();
    for (var i = districtOptions.length - 1; i > 0; i--) districtOptions[i].remove();

    var shownCityValues = cityMap[province.value];
    if (!shownCityValues) return;
    for (var i = 0; i < shownCityValues.length; i++) {
      var option = document.createElement("option");
      option.value = shownCityValues[i][0];
      option.innerText = shownCityValues[i][1];
      city.appendChild(option);
    }
  };
  var cityCallback = function() {
    var districtOptions = district.querySelectorAll("option");
    for (var i = districtOptions.length - 1; i > 0; i--) districtOptions[i].remove();

    var shownDistrictValues = districtMap[city.value];
    if (!shownDistrictValues) return;
    for (var i = 0; i < shownDistrictValues.length; i++) {
      var option = document.createElement("option");
      option.value = shownDistrictValues[i][0];
      option.innerText = shownDistrictValues[i][1];
      district.appendChild(option);
    }
  };

  province.addEventListener("change", provinceCallback);
  city.addEventListener("change", cityCallback);
  provinceCallback();
  cityCallback();
</script>

