<%= content_for :title do %>
  我的信息
<% end %>

<%
city_map = City.all.to_a.
  group_by(&:province_id).
  map {|key, value|[key, value.map {|obj| [ obj.name, obj.id ]}]}.
  to_h
district_map = District.all.to_a.
  group_by(&:city_id).
  map {|key, value|[key, value.map {|obj| [ obj.name, obj.id ]}]}.
  to_h
%>

<%= simple_form_for(@user, url: user_path, method: :post) do |f| %>
  <%= f.error_messages %>

  <div class="content-padded margin-top-large">
    <%= f.input :nickname %>
    <%= f.input :gender, collection: enum_option_pairs(User, :gender) %>
    <%= f.input :address %>

    <%= f.input :is_mechanic, as: :boolean %>

    <div id="user_mechanic" style="display: none;">
      <%= f.input :skill_ids, as: :check_boxes, collection: Skill.all %>

      <%= f.input :province_id, collection: Province.all %>
      <%= f.input :city_id, collection: city_map[@user.province_id] || [] %>
      <%= f.input :district_id, collection: district_map[@user.city_id] || [] %>

      <%= f.input :description, as: :text, input_html: { rows: 4 } %>
    </div>

    <%= f.button :submit, "确定", class: "btn-block btn-positive" %>
  </div>
<% end %>

<script type="text/javascript">
  var isMechanic = user_is_mechanic;
  var mechanic = user_mechanic;
  var isMechanicCallback = function() {
    if (isMechanic.checked) mechanic.style.display = "";
    else mechanic.style.display = "none";
  };

  isMechanic.addEventListener("change", isMechanicCallback);
  isMechanicCallback();

  var cityMap = <%= raw city_map.to_json %>
  var districtMap = <%= raw district_map.to_json %>

  var province = user_province_id;
  var city = user_city_id;
  var district = user_district_id;

  var provinceCallback = function() {
    removeOptions(city.querySelectorAll("option"));
    removeOptions(district.querySelectorAll("option"));
    appendOptions(city, cityMap[province.value]);
  };

  var cityCallback = function() {
    removeOptions(district.querySelectorAll("option"));
    appendOptions(district, districtMap[city.value]);
  };

  province.addEventListener("change", provinceCallback);
  city.addEventListener("change", cityCallback);
</script>

