<%= content_for :title do %>
  我的
<% end %>

<div class="jumbotron vertical-parent">
  <div class="text-center vertical-middle">
    <%= link_to edit_user_path do %>
      <%= image_tag current_user.avatar.url(:thumb), class: "img-circle" %>
    <% end %>
  </div>
</div>

<% if current_user.is_mechanic %>
  <div class="hero segmented-items segmented-items-bordered text-center">
    <div class="item">
      专业 <%= current_user.mechanic.professionality_average %> 分<br><br>

      <h2><%= number_with_delimiter(current_user.mechanic.orders_count) %></h2>
      <p>预约次数</p>
    </div>
    <div class="item">
      守时 <%= current_user.mechanic.timeliness_average %> 分<br><br>

      <h2><%= number_with_delimiter(current_user.mechanic.total_income) %></h2>
      <p>总收入</p>
    </div>
  </div>

<% else %>
  <div class="hero segmented-items segmented-items-bordered text-center">
    <div class="item">
      <h2><%= number_with_delimiter(current_user.orders_count) %></h2>
      <p>用人次数</p>
    </div>
    <div class="item">
      <h2><%= number_with_delimiter(current_user.total_cost) %></h2>
      <p>总支出</p>
    </div>
  </div>

<% end %>

<ul class="table-view">
  <li class="table-view-cell">
    账户余额：<%= number_with_delimiter(current_user.balance || 0) %> 元
  </li>
  <% if current_user.is_mechanic %>
    <li class="table-view-cell">
      <%= link_to "擅长技能：#{current_user.mechanic.skills.map(&:name).join("、")}", edit_user_path, class: "navigate-right" %>
    </li>
    <li class="table-view-cell">
      <%= link_to "地区：#{current_user.mechanic.province.try :name} #{current_user.mechanic.city.try :name} #{current_user.mechanic.district.try :name}", edit_user_path, class: "navigate-right" %>
    </li>
  <% end %>
  <li class="table-view-cell">
    <%= link_to "联系地址：#{current_user.address}", edit_user_path, class: "navigate-right" %>
  </li>
  <% if current_user.is_mechanic %>
    <li class="table-view-cell">
      <%= link_to "个人简介：#{current_user.mechanic.description}", edit_user_path, class: "navigate-right" %>
    </li>
  <% end %>
  <li class="table-view-cell">
    <%= link_to "订单管理", orders_path, class: "navigate-right" %>
  </li>
  <% unless current_user.is_mechanic %>
    <li class="table-view-cell">
      <%= link_to "收藏技师", mechanics_path, class: "navigate-right" %>
    </li>
  <% end %>
  <li class="table-view-cell">
    <%= link_to "设置", settings_user_path, class: "navigate-right" %>
  </li>
</ul>

