<h3 class="page-header">技师管理</h3>

<%= index_for [ :admin, @mechanics ], class: "table table-hover data-tables" do |i| %>
  <%= i.attribute :nickname %>
  <%= i.attribute :mobile %>
  <%= i.attribute :weixin_openid %>
  <%= i.fields_for :mechanic, model: Mechanic do |ii| %>
    <%= ii.attribute :province %>
    <%= ii.attribute :city %>
    <%= ii.attribute :district %>
    <%= ii.attribute :orders_count %>
    <%= ii.attribute :total_income %>
    <%= ii.attribute :professionality_average %>
    <%= ii.attribute :timeliness_average %>
  <% end %>

  <%= i.actions do |a| %>
    <%= a.action_link :show, url: admin_mechanic_path(i.object) %>
  <% end %>
<% end %>
