<h3 class="page-header">商家管理</h3>

<div class="col-md-2 col-xs-4">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "申请列表", admin_merchants_path %></li>
    <li class="active"><%= link_to "商家列表", confirmed_admin_merchants_path %></li>
  </ul>
</div>

<% @merchants = @merchants.includes(:merchant) %>

<div class="col-md-10 col-xs-8">
  <%= index_for [ :admin, @merchants ], class: "table table-hover data-tables" do |i| %>
    <%= i.fields_for :merchant, model: Merchant do |ii| %>
      <%= ii.attribute :nickname %>
      <%= ii.attribute :mobile %>
    <% end %>

    <%= i.attribute :nickname %>
    <%= i.attribute :qq %>

    <%= i.attribute :available_orders_count %>
    <%= i.attribute :total_cost %>

    <%= i.actions do |a| %>
      <%= a.action_link :show, url: admin_merchant_path(i.object) %>
      <% if i.object.active %>
        <%= a.action_link :inactive, url: inactive_admin_merchant_path(i.object), method: :post, confirm: "你确定要锁定这个账户？" %>
      <% else %>
        <%= a.action_link :active, url: active_admin_merchant_path(i.object), method: :post, confirm: "你确定要激活这个账户？" %>
      <% end %>
    <% end %>
  <% end %>
</div>
