<h3 class="page-header">商家详情 #<%= @merchant.id %></h3>

<div class="row">
  <div class="col-md-2 col-xs-4">
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to "商家详情", admin_merchant_path(@merchant) %></li>
      <li class="active"><%= link_to "佣金设置", settings_admin_merchant_path(@merchant) %></li>
    </ul>
  </div>

  <div class="col-md-7 col-xs-8">
    <%= bootstrap_simple_form_for(@merchant.settings, url: settings_admin_merchant_path(@merchant)) do |f| %>
      <%= f.error_messages %>

      <% use_system_commission_percent = @merchant.settings.use_system_commission_percent %>
      <%= f.input :use_system_commission_percent, as: :boolean %>
      <%= f.input :commission_percent, as: :float, readonly: use_system_commission_percent %>
      <%= f.input :mobile_commission_percent, as: :float, readonly: use_system_commission_percent %>
      <%= f.input :client_commission_percent, as: :float, readonly: use_system_commission_percent %>
      <%= f.input :mechanic_commission_percent, as: :float, readonly: use_system_commission_percent %>

      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    <% end %>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#store_scoped_settings_use_system_commission_percent").change(function(event) {
        var use_system_commission_percent = $(this).is(":checked");
        $("#store_scoped_settings_commission_percent, #store_scoped_settings_mobile_commission_percent, #store_scoped_settings_client_commission_percent, #store_scoped_settings_mechanic_commission_percent").attr("readonly", use_system_commission_percent);
      })
    });
  </script>
</div>
