<%= content_for :title do %>
  订单列表
<% end %>

<nav class="bar bar-nav bar-standard">
  <div class="segmented-control">
    <a class="control-item active">待服务</a>
    <a class="control-item">服务中</a>
    <a class="control-item">已结束</a>
  </div>
</nav>

<div class="content content-padded">
  <%= index_for @orders, class: "table" do |i| %>
    <%= i.attribute :appointment, format: :short %>
    <%= i.attribute :order_type %>
    <%= i.attribute :price %>
    <%= i.attribute :mechanic %>
    <%= i.actions :show do |act| %>
      <%= act.action_link :cancel do %>
      <% end %>
    <% end %>
  <% end %>
</div>
