<%= content_for :title do %>
  订单列表
<% end %>

<nav class="bar bar-nav bar-standard">
  <div class="segmented-control">
    <%= link_to "待服务", orders_path(state: :paids), class: "control-item#{" active" if @state == :paids}" %>
    <%= link_to "服务中", orders_path(state: :workings), class: "control-item#{" active" if @state == :workings}" %>
    <%= link_to "待评价", orders_path(state: :finisheds), class: "control-item#{" active" if @state == :finisheds}" %>
  </div>
</nav>

<% @orders = @orders.includes(:skill, mechanic: :user).order(id: :desc) %>

<ul class="table-view">
  <% @orders.each do |order| %>
    <li class="table-view-cell media">
      <%= link_to order_path(order), class: "navigate-right" do %>
        <%= image_tag order.mechanic.user.avatar.url(:thumb), class: "media-object pull-left" %>
        <div class="media-body">
          <%= order.title %>
          <p>预约时间：<%= l order.appointment, format: :short %></p>
          <p>成交价格：<%= order.price %> 元</p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
