<%= content_for :title do %>
  预约技师
<% end %>

<%
series_map = Series.all.to_a.
  group_by(&:brand_id).
  map {|key, value|[key, value.map {|obj| [ obj.name, obj.id ]}]}.
  to_h
%>

<%= simple_form_for(@order) do |f| %>
  <%= f.error_messages %>

  <div class="content-padded">
    <div class="input">
      <%= f.label :user %>
      <span class="info"><%= current_user.nickname %>（<%= current_user.mobile %>）</span>
    </div>

    <%= f.input :address, input_html: { value: current_user.address } %>
    <%= f.input :appointment %>
    <%= f.association :skill %>
    <%= f.association :brand %>

    <%= f.input :series do %>
      <%= f.select :series_id do %>
        <option value=""></option>
      <% end %>
    <% end %>

    <%= f.input :quoted_price %>
    <%= f.input :remark, input_html: { rows: 4 } %>

    <%= f.button :submit, "确定", class: "btn-block btn-positive" %>
  </div>
<% end %>

<script type="text/javascript">
  var seriesMap = <%= raw series_map.to_json %>

  var brand = order_brand_id;
  var series = order_series_id;
  var brandCallback = function() {
    removeOptions(series.querySelectorAll("option"));
    appendOptions(series, seriesMap[brand.value]);
  };

  brand.addEventListener("change", brandCallback);
  brandCallback();
</script>
