<%= content_for :title do %>
  订单详情
<% end %>

<div class="content-padded">
  <%= show_for @order do |s| %>
    <%= s.attribute :address %>
    <%= s.attribute :appointment, format: :long %>
    <%= s.attribute :skill, with: :name %>
    <%= s.attribute :brand, with: :name %>
    <%= s.attribute :series, with: :name %>
    <%= s.attribute :quoted_price %>
    <%= s.attribute :remark %>
  <% end %>
</div>

<% if @order.mechanic_id %>
  <ul class="table-view">
    <li class="table-view-cell media">
      <%= image_tag @order.mechanic.user.avatar.url(:thumb), class: "media-object pull-left" %>
      <div class="media-body">
        <div class="media-block">
          <p class="pull-right">加价 <%= @order.bid.markup_price %> 元</p>
          <%= @order.mechanic.user_nickname %>
        </div>
        <div class="media-block">
          <p class="pull-right">接单 <%= @order.mechanic.orders_count %> 次</p>
          <p>专业 <%= @order.mechanic.professionality_average %> 分 守时 <%= @order.mechanic.timeliness_average %> 分</p>
        </div>
      </div>
    </li>
  </ul>
  <div class="content-padded">
    个人简介：<%= @order.mechanic.description %>
  </div>
<% end %>
