<% content_for :subtitle do %>
  <%= link_to "添加类型", new_admin_settings_skill_path %>
<% end %>

<div class="row">
  <%= render "admin/settings/side_menu" %>

  <div class="col-md-10 col-xs-8">
    <%= index_for [ :admin, :settings, @skills ], class: "table table-hover data-tables" do |i| %>
      <%= i.attribute :name %>
      <%= i.actions :edit, :destroy %>
    <% end %>
  </div>
</div>
