<h3 class="page-header">我的技师</h3>

<% @mechanics = current_merchant.store.followed_mechanics.includes(:user) %>

<%= index_for [ :merchants, @mechanics ], class: "table table-hover data-tables" do |i| %>
  <%= i.attribute :user_nickname %>
  <%= i.attribute :user_mobile %>
  <%= i.attribute :professionality_average %>
  <%= i.attribute :timeliness_average %>
  <%= i.attribute :available_orders_count %>

  <%= i.actions :show do |a| %>
    <%= a.action_link :unfollow, method: :post, confirm: "你确定要取消关注？" %>
  <% end %>
<% end %>
