<h3 class="page-header">技师列表</h3>

<%
  def mechanic_state_link_to state, text
    link = link_to text, merchants_mechanics_path(state: state)
    class_name = (@state == state) ? "active" : ""
    %{<li class="#{class_name}">#{link}</li>}.html_safe
  end
%>

<div class="row">
  <div class="col-md-2 col-xs-4">
    <ul class="nav nav-pills nav-stacked">
      <%= mechanic_state_link_to nil, "查询技师" %>
      <%= mechanic_state_link_to :followeds, "我的技师" %>
    </ul>
  </div>

  <% case @state %>
  <% when :followeds %>
    <% @mechanics = current_store.followed_mechanics.shown %>
  <% else %>

    <% city_map = types_option_pairs City, :province_id %>
    <% province_cd = (params[:province] || city_map.first[0]).to_i %>
    <% city_cd = (params[:city] || city_map.first[1].first[1]).to_i %>

    <form class="form-inline" id="mechanics_location">
      <label>省份： <%= select_tag "province", options_from_collection_for_select(Province.all, :id, :name, province_cd), class: "form-control", id: "mechanics_provinces_select" %></label>
      <label>城市： <%= select_tag "city", "<option value=\"\">请选择城市</option>".html_safe + options_for_select(city_map[province_cd], city_cd), class: "form-control", id: "mechanics_cities_select" %></label>
    </form>

    <% @followed_mechanic_ids = current_store.followed_mechanic_ids %>
    <% @mechanics = Mechanic.shown %>
    <% @mechanics = @mechanics.where(city_cd: city_cd) if city_cd %>

  <% end %>

  <div class="col-md-10 col-xs-8">

    <%= index_for [ :merchants, @mechanics ], class: "table table-hover" do |i| %>
      <%= i.attribute :user_nickname %>
      <%= i.attribute :user_mobile %>

      <%= i.attribute :province %>
      <%= i.attribute :city %>
      <%= i.attribute :district %>

      <%= i.attribute :available_orders_count %>
      <%= i.attribute :revoke_orders_count %>
      <%= i.attribute :professionality_average %>
      <%= i.attribute :timeliness_average %>

      <%= i.actions :show do |a| %>
        <% if @state == :followeds || @followed_mechanic_ids.include?(i.object.id) %>
          <%= a.action_link :unfollow, method: :post, confirm: "你确定要取消关注？" %>
        <% else %>
          <%= a.action_link :follow, method: :post %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  (function() {
    var dataTable = $("#mechanics").DataTable({
      order: [], // Do not sort by default
      pagingType: 'full_numbers',
      dom: "<'row'<'col-sm-3'l><'col-sm-9'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
      language: {
        lengthMenu: "每页显示 _MENU_ 条记录",
        info: "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
        infoEmpty: "没有数据",
        infoFiltered: "(从 _MAX_ 条数据中检索)",
        zeroRecords: "没有检索到数据",
        search: "搜索：",
        paginate: {
          first: "首页",
          previous: "前一页",
          next: "后一页",
          last: "尾页"
        }
      }
    });

    <% unless @state %>

      $location = $("#mechanics_location");
      $location.prependTo($("#mechanics_filter"));

      var cityMap = <%= raw city_map.to_json %>;

      var $province = $("#mechanics_provinces_select");
      var $city = $("#mechanics_cities_select");
      $province.change(function() {
        $city.removeOptions();
        $city.appendOptions(cityMap[$province.val()]);
      });

      $city.change(function() {
        if ($city.val()) $location.submit();
      });

    <% end %>

  })();
</script>
