<ul class="nav nav-tabs page-header">
  <li><h3><%= @order.assigned? ? "改派技师" : "指派技师" %></h3></li>
  <li class="active"><a href="#table_tab" data-toggle="tab">技师列表</a></li>
  <li><a href="#map_tab" data-toggle="tab">地图</a></li>
</ul>

<%= bootstrap_simple_form_for([ :merchants, :hosting, @order ], url: pick_merchants_hosting_order_path(@order)) do |f| %>
  <div class="row">

    <div class="tab-content">
      <div class="tab-pane active" id="table_tab">
        <div class="col-md-12" id="mechanic_list">
          <%= f.error_messages %>

          <%= f.hidden_field :mechanic_id %>

          <label class="mr20" id="mechanics_skills">类型： <%= select_tag "skills", "<option value=\"\">全部</option>".html_safe + options_from_collection_for_select(Skill.all, :name, :name), class: "form-control", id: "mechanics_skills_select" %></label>

          <% @followed_mechanic_ids = current_store.followed_mechanic_ids %>
          <% @mechanics = Mechanic.includes(:user, :skills) %>
          <% @mechanics = @mechanics.where(province_cd: @order.province_cd) %>
          <% @mechanics = @mechanics.shown %>
          <%= index_for [ :merchants, @mechanics ], class: "table table-hover" do |i| %>
            <%= i.attribute :_check do |mechanic| %>
              <span class="glyphicon glyphicon-select" data-mechanic-id="<%= mechanic.id %>"></span>
            <% end %>

            <%= i.attribute :skills do |mechanic| %>
              <%= mechanic.skills.join("、") %>
            <% end %>

            <%= i.attribute :user_nickname %>
            <%= i.attribute :user_mobile %>
            <%= i.attribute :unique_id %>

            <%= i.attribute :province %>
            <%= i.attribute :city %>
            <%= i.attribute :district %>

            <%= i.attribute :available_orders_count %>
            <%= i.attribute :revoke_orders_count %>
            <%= i.attribute :professionality_average %>
            <%= i.attribute :timeliness_average %>

            <%= i.actions :show do |a| %>
              <% if @followed_mechanic_ids.include? i.object.id %>
                <%= a.action_link :unfollow, method: :post, confirm: "你确定要取消关注？" %>
              <% else %>
                <%= a.action_link :follow, method: :post %>
              <% end %>
            <% end %>

          <% end %>
        </div>
      </div>

      <div class="tab-pane" id="map_tab">
        <div class="col-md-9 map-container">
          <div class="map" id="map"></div>
        </div>
        <div class="col-md-3 map-list" id="map_list">
          <% @mechanics.each do |mechanic| %>
            <div class="radio">
              <span class="glyphicon glyphicon-select" data-mechanic-id="<%= mechanic.id %>"></span>
              <%= mechanic.user_nickname %>
              <span class="text-muted distance"></span>
            </div>
          <% end %>
        </div>
      </div>

    </div>


    <div class="col-md-7">
      <%= f.input :remark, hint: "备注对所有人可见", input_html: { rows: 4 } %>
    </div>

    <div class="col-md-12">
      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  (function() {
    // Initialize DataTable
    var dataTable = window.dataTable = $("#mechanics").DataTable({
      order: [], // Do not sort by default
      pagingType: 'full_numbers',
      columnDefs: [{
        orderable: false,
        targets: 0
      }, {
        visible: false,
        targets: 1
      }],
      select: 'api',
      language: {
        select: {
          rows: {
            0: "请选择技师",
            1: "你选中了一个技师"
          }
        }
      }
    });

    var skillColumn = dataTable.column(1);
    $("#mechanics_skills").prependTo($("#mechanics_filter"));
    $("#mechanics_skills_select").change(function() {
      skillColumn.search($(this).val());
      dataTable.draw();
    });

    // Initialize Event Callbacks
    var mechanics = <%= raw @mechanics.reduce({}) { |ret, mechanic|
        json = mechanic.user.as_json(only: %w(lat lng address))
        json.merge!(popover: render(partial: "shared/orders/mechanic_popover", locals: { mechanic: mechanic }))
        ret[mechanic.id] = json
        ret
      }.to_json %>;

    function getDataTableRow(mechanicId) {
      return $("#mechanics .glyphicon[data-mechanic-id=" + mechanicId + "]").closest("tr");
    }

    function getMapListRadio(mechanicId) {
      return $("#map_list .glyphicon[data-mechanic-id=" + mechanicId + "]").closest(".radio");
    }

    function getMapListMechanicId(radio) {
      return $(radio).find(".glyphicon").data("mechanic-id");
    }

    $mechanicId = $("#order_mechanic_id");
    function selectMechanic(mechanicId) {
      if (selectMechanic.mechanicId === mechanicId) return;
      selectMechanic.mechanicId = mechanicId;

      $mechanicId.val(mechanicId);

      // DataTable
      dataTable.rows({ selected: true }).select(false);
      dataTable.row(getDataTableRow(mechanicId)).select();

      // Map
      $("#map_list .radio.selected").removeClass("selected");
      getMapListRadio(mechanicId).addClass("selected");

      if (window.showMechanicInfo) window.showMechanicInfo(mechanicId, true);
    }

    $("#mechanics").on("click", "td:not(:last-child)", function(event) {
      var mechanicId = $(event.currentTarget).parent().find(".glyphicon").data("mechanic-id");
      selectMechanic(mechanicId);
    });

    $("#map_list").on("click", ".radio", function(event) {
      selectMechanic(getMapListMechanicId(event.currentTarget));
    });

    selectMechanic(<%= raw @order.mechanic_id.to_json %>);

    // Initialize Map
    window.initMap = function() {
      var InfoWindow = function(opts) {
        qq.maps.Overlay.call(this, opts);
      };
      InfoWindow.prototype = new qq.maps.Overlay();
      InfoWindow.prototype.construct = function() {
        this.dom = document.createElement("div");
        this.dom.className = "map-info-window";
        this.getPanes().floatPane.appendChild(this.dom);
        if (this.get("onCreate")) this.get("onCreate")();
      };
      InfoWindow.prototype.setContent = function(content) {
        this.dom.innerHTML = content;
      };
      InfoWindow.prototype.setPosition = function(position) {
        this.set("position", position);
      };
      InfoWindow.prototype.draw = function() {
        var position = this.get("position");
        if (position) {
          var pixel = this.getProjection().fromLatLngToDivPixel(position);
          this.dom.style.left = pixel.getX() + "px";
          this.dom.style.top = pixel.getY() + "px";
        }
      };
      InfoWindow.prototype.destroy = function() {
        this.dom.parentNode.removeChild(this.dom);
      };

      // initialze map
      var map = new qq.maps.Map($("#map")[0], {
        zoom: 12
      });
      var info = new InfoWindow({
        map: map,
        onCreate: function() {
          showMechanicInfo(selectMechanic.mechanicId);
        }
      });

      var imageBlue = <%= raw image_path("map-marker-blue.png").to_json %>,
          imageRed = <%= raw image_path("map-marker-red.png").to_json %>,
          imageGreen = <%= raw image_path("map-marker-green.png").to_json %>,
          size = new qq.maps.Size(32, 32),
          origin = new qq.maps.Point(0, 0),
          anchor = new qq.maps.Point(16, 32),
          scaleSize = new qq.maps.Size(32, 32),
          iconBlue = new qq.maps.MarkerImage(imageBlue, size, origin, anchor, scaleSize),
          iconRed = new qq.maps.MarkerImage(imageRed, size, origin, anchor, scaleSize),
          iconGreen = new qq.maps.MarkerImage(imageGreen, size, origin, anchor, scaleSize);

      function showInfo(record, center) {
        if (showInfo.record === record) return;
        showInfo.record = record;

        if (record) {
          info.setPosition(record.position);
          info.setContent(record.popover);
          if (center) map.panTo(record.position);
        } else {
          info.setContent("");
        }
        info.draw();

      }

      var showMechanicInfo = window.showMechanicInfo = function(mechanicId, center) {
        var mechanic = mechanics[mechanicId];
        showInfo(mechanic, center);
      }

      function rawSetMarker(record) {
        var marker = new qq.maps.Marker({
          icon: record.icon,
          map: map,
          position: record.position,
          zIndex: record.zIndex || 100
        });

        if (record.onClick) {
          qq.maps.event.addListener(marker, "click", record.onClick);
        }

        if (record.center) map.setCenter(record.position);
        return marker;
      }

      function setMarker(record) {
        if (!record.lat || !record.lng) {
          var geocoder = new qq.maps.Geocoder({
            complete: function(result) {
              record.position = result.detail.location;
              rawSetMarker(record);
              if (record.onComplete) record.onComplete();
            },
            error: function(error) {
              if (record.onComplete) record.onComplete();
            }
          });
          geocoder.getLocation(record.address);
        } else {
          record.position = new qq.maps.LatLng(record.lat, record.lng);
          rawSetMarker(record);
          if (record.onComplete) record.onComplete();
        }
      }

      var finishedRequestsCount = 0;
      var requestsCount = $.map(mechanics, function(id, mechanic) { return id; }).length + 1;
      $.each(mechanics, function(id, mechanic) {
        setMarker($.extend(mechanic, {
          icon: iconBlue,
          onClick: function() {
            showInfo(mechanic);
            selectMechanic(id);
          },
          onComplete: onCompleteCallback
        }));
      });

      var order = <%= raw @order.to_json(only: %w(lat lng address)) %>;
      var marker = setMarker($.extend(order, {
        center: true,
        icon: iconRed,
        onClick: function() {
          showInfo(order);
        },
        onComplete: onCompleteCallback,
        popover: <%= raw render(partial: "shared/orders/order_popover", locals: { order: @order }).to_json %>,
        zIndex: 101
      }));

      function onCompleteCallback() {
        finishedRequestsCount = finishedRequestsCount + 1;
        if (requestsCount !== finishedRequestsCount) return;
        if (!order.position) return;

        $.each(mechanics, function(id, mechanic) {
          if (mechanic.position) {
            var distance = qq.maps.geometry.spherical.computeDistanceBetween(order.position, mechanic.position);
            mechanic.distance = distance;

            var distanceText;
            if (!distance) {
              distanceText = "【无法定位】"
            } else if (distance < 1000) {
              distanceText = "【" + parseInt(distance) + "米】";
            } else {
              distanceText = "【" + parseInt(distance / 1000) + "千米】";
            }

            getMapListRadio(id).find(".distance").text(distanceText);
          }
        });

        var $mapList = $("#map_list");
        var $radios = $mapList.children(".radio");
        $radios.sort(function(aNode, bNode) {
          var aMechanicId = getMapListMechanicId(aNode);
          var bMechanicId = getMapListMechanicId(bNode);
          var aDistance = mechanics[aMechanicId].distance;
          var bDistance = mechanics[bMechanicId].distance;
          if (aDistance > bDistance) return 1;
          if (aDistance < bDistance) return -1;
          return 0;
        });

        $radios.detach().appendTo($mapList);
      }

    }

  })();
</script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&amp;callback=initMap&amp;libraries=drawing,geometry"></script>
