<h3 class="page-header">
  订单详情 #<%= @order.id %>
  <small>
    <% if @order.canceled? %>
      <%= te @order, :cancel %>
    <% elsif @order.refunded? %>
      <%= te @order, :refund %>
    <% else %>
      <%= te @order, :state %>
    <% end %>
  </small>
</h3>

<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <%= show_for @order, class: "dl-horizontal" do |i| %>
      <%= i.attribute :store_nickname %>
      <%= i.attribute :store_hotline %>
      <%= i.attribute :contact_nickname %>
      <%= i.attribute :contact_mobile %>
      <%= i.attribute :state do |order| %>
        <% if order.canceled? %>
          <%= te order, :cancel %>
        <% elsif order.refunded? %>
          <%= te order, :refund %>
        <% else %>
          <%= te order, :state %>
        <% end %>
      <% end %>

      <%= i.attribute :address %>
      <%= i.attribute :appointment, format: :long %>
      <%= i.attribute :skill %>
      <%= i.attribute :brand %>
      <%= i.attribute :series %>
      <%= i.attribute :price %>
      <%= i.attribute :procedure_price %>
      <%= i.attribute :remark %>
      <%= i.attribute :merchant_remark %>
    <% end %>
  </div>
</div>

<% if @order.mechanic_id %>
  <h3 class="page-header">技师信息</h3>

  <div class="row">
    <div class="col-sm-3 text-right">
      <%= image_tag(@order.mechanic.user.avatar.url(:thumb)) %>
    </div>

    <div class="col-sm-9">
      <%= show_for @order.mechanic, class: "dl-horizontal" do |i| %>
        <%= i.attribute :user_nickname %>
        <%= i.attribute :user_mobile %>
        <%= i.attribute :user_address %>
        <%= i.attribute :description %>
        <%= i.attribute :available_orders_count %>
        <%= i.attribute :professionality_average %>
        <%= i.attribute :timeliness_average %>
      <% end %>
    </div>
  </div>

  <div class="pull-right">
    <%= link_to "设置手续费", procedure_price_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
  </div>
<% else %>
  <div class="pull-right">
    <%= link_to "指派技师", pick_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
    <%= link_to "设置手续费", procedure_price_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
  </div>
<% end %>

<% case @order.state %>
<% when :confirming %>
  <h3 class="page-header">确认完工 <small>点击施工照片查看原图</small></h3>
  <% if @order.mechanic_attach_1 || @order.mechanic_attach_2 %>
    <div class="images">
      <%= link_to @order.mechanic_attach_1.url(:original) do %>
        <%= image_tag @order.mechanic_attach_1.url(:thumb), class: "img-rounded" %>
      <% end if @order.mechanic_attach_1.present? %>
      <%= link_to @order.mechanic_attach_2.url(:original) do %>
        <%= image_tag @order.mechanic_attach_2.url(:thumb), class: "img-rounded" %>
      <% end if @order.mechanic_attach_2.present? %>
    </div>
  <% end %>
  <div class="pull-right">
    <%= link_to "确认完工", confirm_merchants_hosting_order_path(@order), method: :post, class: "btn btn-primary" %>
    <%= link_to "申请返工", rework_merchants_hosting_order_path(@order), method: :post, class: "btn btn-primary" %>
  </div>
<% when :finished %>
  <div class="pull-right">
    <%= link_to "点评技师", review_merchants_hosting_order_path(@order), class: "btn btn-primary" %>
  </div>
<% end %>
