<h3 class="page-header col-md-12">选择技师</h3>

<div class="col-sm-3 text-right">
  <%= image_tag(@bid.mechanic.user.avatar.url(:thumb)) %>
</div>

<div class="col-sm-9">
  <%= show_for @bid, class: "dl-horizontal" do |i| %>
    <%= i.fields_for :mechanic do |ii| %>
      <%= ii.attribute :user_nickname %>
      <%= ii.attribute :user_address %>
      <%= ii.attribute :description %>
      <%= ii.attribute :orders_count %>
      <%= ii.attribute :professionality_average %>
      <%= ii.attribute :timeliness_average %>
    <% end %>
    <%= i.fields_for :order do |ii| %>
      <%= ii.attribute :appointment, format: :short %>
      <%= ii.attribute :skill %>
      <%= ii.attribute :quoted_price %>
    <% end %>
    <%= i.attribute :markup_price %>
  <% end %>
</div>

<div class="pull-right">
  <%= link_to "选择此技师", pick_merchants_order_bid_path(@order, @bid), class: "btn btn-primary" %>
  <%= link_to "返回竞价列表", merchants_order_bids_path(@order), class: "btn btn-primary" %>
</div>

<script type="text/javascript">
  var interval = setInterval(function() {
    $.getScript(window.location.href + ".js");
  }, 5000);
</script>
