<h3 class="page-header">账户余额</h3>

<div class="row">
  <div class="col-md-7">
    <%= bootstrap_simple_form_for([ :admin, @user ], url: balance_admin_user_path(@user)) do |f| %>
      <%= f.error_messages %>

      <%= f.input :balance_increase_amount, hint: "减少账户余额请填写负数，例如：-100", as: :integer %>

      <%= f.input :balance_increase_description, hint: "账户余额变动说明，例如：订单金额错误" %>

      <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
    <% end %>
  </div>
</div>
