<h3 class="page-header">商家管理</h3>

<%= index_for @users, class: "table table-hover data-tables" do |u| %>
  <%= u.attribute :avatar do |user| %>
    <%= image_tag(user.avatar.url(:thumb)) %>
  <% end %>
  <%= u.attribute :nickname %>
  <%= u.attribute :mobile %>
  <%= u.attribute :weixin_openid %>

  <%= u.actions :admin %>
<% end %>
