<h3 class="page-header">车主详情 #<%= @user.id %></h3>

<div class="col-sm-3 text-right">
  <%= image_tag(@user.avatar.url(:thumb)) %>
</div>

<div class="col-sm-9">
  <%= show_for @user, class: "dl-horizontal" do |i| %>
    <%= i.attribute :nickname %>
    <%= i.attribute :mobile %>
    <%= i.attribute :weixin_openid %>
    <%= i.attribute :gender do |user| %>
      <%= te user, :gender %>
    <% end %>
    <%= i.attribute :address %>
    <%= i.attribute :balance %>
    <%= i.attribute :available_orders_count %>
    <%= i.attribute :total_cost %>
  <% end %>
</div>

