<%= content_for :title do %>
  汽车堂
<% end %>

<%= simple_form_for(@user_session, url: user_session_path) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :weixin_openid, value: @openid %>

  <div class="content-padded margin-top-large">
    <%= f.input :mobile %>
    <%= f.input :verification_code do %>
      <%= f.text_field :verification_code %>
      <%= f.button :submit, "获取验证码", name: "verification_code", id: "user_session_verification_code_button",class: "btn btn-positive" %>
    <% end %>

    <%= f.button :submit, "确定", class: "btn-block btn-positive" %>
  </div>
<% end %>

<div class="content-padded margin-top-large">
  <p>
    汽车服务，只需四步：
    <br>
  </p>
  <ol class="text-mute" id="new_session_desc">
    <li>注册<br>绑定手机、方便技师联系；</li>
    <li>填写需求信息<br>定时间、服务类型、车型、出价；</li>
    <li>提交订单<br>确认技师，托管服务金，准备接受服务；</li>
    <li>服务完成<br>确认付款、评价技师。</li>
  </ol>
</div>
