<%= content_for :title do %>
  验证手机
<% end %>

<%= simple_form_for(@user_session, url: user_session_path) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :weixin_openid, value: @openid %>

  <div class="content-padded margin-top-large">
    <%= f.input :mobile %>
    <%= f.input :verification_code do %>
      <%= f.text_field :verification_code %>
      <%= f.submit "获取验证码", name: "verification_code", id: "user_session_verification_code_button",class: "btn btn-positive" %>
    <% end %>

    <%= f.button :submit, "确定", class: "btn-block btn-positive" %>
  </div>
<% end %>
