<h3 class="page-header col-md-12">修改密码</h3>

<div class="col-md-7">
  <%= bootstrap_simple_form_for(@merchant, url: password_merchants_merchant_path) do |f| %>
    <%= f.error_messages %>

    <%= f.input :current_password %>

    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.button :submit, "确定", class: "btn-primary pull-right" %>
  <% end %>
</div>
