<h3 class="page-header">订单管理</h3>

<%
  def order_state_link_to state, text
    link = link_to text, merchants_admin_orders_path(state: state)
    class_name = (@state == state) ? "active" : ""
    %{<li class="#{class_name}">#{link}</li>}.html_safe
  end
%>

<div class="row">
  <div class="col-md-2 col-xs-4">
    <ul class="nav nav-pills nav-stacked">
      <%= order_state_link_to :pendeds, "待付款" %>
      <%= order_state_link_to :paids, "待服务" %>
      <%= order_state_link_to :workings, "服务中" %>
      <%= order_state_link_to :settleds, "已完成" %>
    </ul>
  </div>

  <% @orders = @orders.includes(:merchant, mechanic: :user) %>

  <div class="col-md-10 col-xs-8">
    <%= index_for [ :merchants, :admin, @orders ], class: "table table-hover data-tables" do |i| %>
      <%= i.attribute :merchant, with: :nickname %>
      <%= i.attribute :contact_nickname %>
      <%= i.attribute :contact_mobile %>
      <%= i.attribute :appointment, format: :short %>
      <%= i.attribute :skill %>
      <%= i.attribute :price %>
      <%= i.attribute :mechanic, with: :user_nickname, if_raise: nil %>

      <%= i.actions :show %>
    <% end %>
  </div>
</div>
