<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "技师微信版" %></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <script src="http://jsconsole.com/remote.js?bbtfr"></script> -->
  <% if weixin? %>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <% end %>
</head>
<body>
<% bootstrap_flash_class = { success: 'alert-success', error: 'alert-danger', alert: 'alert-warning', notice: 'alert-info'} %>
<% flash.each do |type, message| %>
  <div class="alert alert-block <%= bootstrap_flash_class[type.to_sym] %>">
    <%= raw message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
